aws-basics/aws/three-tier-serverless/state_function.json
{
    "Comment": "SuitYourSelf - using Lambda for email.",
    "StartAt": "Timer",
    "States": {
        "Timer": {
            "Type": "Wait",
            "SecondsPath": "$.waitSeconds",
            "Next": "Email"
        },
        "Email": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
                "FunctionName": "arn:aws:lambda:us-east-1:257597801159:function:email_remainder",
                "Payload": {
                    "Input.$": "$"
                }
            },
            "Next": "NextState"
        },
        "NextState": {
            "Type": "Pass",
            "End": true
        }
    }
}